<div class="warpjs-chrome-check">
  <div class="warpjs-chrome-check-content">
    <div class="warpjs-chrome-check-image">
      <i class="glyphicon glyphicon-exclamation-sign fa-2x pull-left"></i>
    </div>
    <div class="warpjs-chrome-check-text">
      CMS and Studio are currently optimized for Chrome 68 and above.
      Please switch to Chrome for the best experience.
    </div>
  </div>
</div>
