<div class="form-group">
    <label for="comment">Description for selection '{{name}}':</label>
    <textarea class="form-control" rows="3" id="WarpJS_assocSelectionModal_selectionDetails_input">
        {{desc}}
    </textarea>
    <div class="btn-group-sm" role="group" aria-label="Basic example" style="margin-top:5px;">
        <button type="button" class="btn btn-secondary remove-button">Remove from Selection</button>
    </div>
</div>
