{{> ./text-editor}}
{{> ./entity-link-modal}}
{{> ./target-association-modal}}
{{> ./navbar}}
{{> ./generic-modal}}

<div class="page--body container-fluid">
    {{#block "content"}}REPLACE THIS{{/block}}
</div>

<div id="WarpJS_DOM_anchor_for_modals"></div>

