<div id="{{globalID}}_panel" class="panel panel-success">
    <div class="panel-heading">
        {{type}}: {{displayName}}

        <a href="#" id="addEntityA" data-toggle="tooltip" title="Add sibling">
            <span class="glyphicon glyphicon-share pull-right"></span>
        </a>
    </div>

    <div class="panel-body">
        {{{bodyContent}}}
    </div>
</div>
