@inline-blue: #5096b7;
@inline-white: #ffffff;
@inline-label-padding: 4px 24px;

.base-inline-label {
    background-color: @inline-white;
    border: 1px solid @inline-blue;
    padding: @inline-label-padding;
    color: @inline-blue;
    font-weight: bold;
    white-space: nowrap;
    cursor: pointer;
}


@import './paragraph-aggregations/style';
@import './user-profile-documents/style';
@import './user-profile-menu/style';
@import './user-profile-notifications/style';
