<span class="csv-list-item-span" {{#if relnDesc}}title="{{relnDesc}}"{{/if}}>
    <a class="csv-list-item-link" href="{{this._links.self.href}}">{{this.name}}</a>
    {{#if relnDesc}}<span class="glyphicon glyphicon-info-sign"/>{{/if}}
</span>
