/.*rc
/.npmignore
/.nyc*
/client
/grunt
/Gruntfile.js
/public/app/*_WebAPI.js
/reports
/server.js
/views/app*.hbs
/views/portal*.hbs

/lib/**/*.test.js
/server/**/*.test.js

# in case 'npm pack' was run on this folder.
/*.tgz

# Because of refactoring temporary files.
/studio
/templates
