/.*rc
/.npmignore
/.nyc*
/client
/grunt
/Gruntfile.js
/reports
/server.js

/lib/**/*.test.js
/server/**/*.test.js

# in case 'npm pack' was run on this folder.
/*.tgz

# Because of refactoring temporary files.
/studio
/templates
