<div class="warpjs-user-profile-menu warpjs-user-profile-mine-{{myPage}}">
  {{> left-right-margin}}
  <div class="col-xs-12 col-sm-8 warpjs-content">
    <button type="button" class="btn btn-primary warpjs-user-profile-notifications">Notifications</button>
    <button type="button" class="btn btn-primary warpjs-user-profile-documents">Your Documents</button>
  </div>
  {{> left-right-margin}}
</div>
