
<div class="table-container">
    <table class="table table-hover" id="DefaultTableViewTable">
        <thead>
            <tr>
                
                <th> </th>
            </tr>
        </thead>
        <tbody id="ApplicationArea-DefaultTableView">
        <tbody>
    </table>
</div>
<script>
    ApplicationArea_updateDefaultTableView = function (relationship) {
            var queryResult = relationship.queryResults;
            queryResult.forEach (function (elem) {
                var TDs= "";
                $("#ApplicationArea-DefaultTableView").append("<tr class='ApplicationArea-DefaultTableView-row' id='"+elem.id+"'>"+TDs+"<td><span class='glyphicon glyphicon-forward'></span></td></tr>");
            });

            $(".ApplicationArea-DefaultTableView-row").click(function () {
                window.location.href = "./../app/ApplicationArea?oid="+$(this).attr('id');
            });
        }
</script>
