
<div class="table-container">
    <table class="table table-hover" id="DefaultTableViewTable">
        <thead>
            <tr>
                
                    <th>Name</th>
                
                    <th>Description</th>
                
                <th> </th>
            </tr>
        </thead>
        <tbody id="Content-DefaultTableView">
        <tbody>
    </table>
</div>
<script>
    Content_updateDefaultTableView = function (relationship) {
            var queryResult = relationship.queryResults;
            queryResult.forEach (function (elem) {
                var TDs= "<td>"+elem.get_Name()+"</td>"+"<td>"+elem.get_Description()+"</td>"+"";
                $("#Content-DefaultTableView").append("<tr class='Content-DefaultTableView-row' id='"+elem.id+"'>"+TDs+"<td><span class='glyphicon glyphicon-forward'></span></td></tr>");
            });

            $(".Content-DefaultTableView-row").click(function () {
                window.location.href = "./../app/Content?oid="+$(this).attr('id');
            });
        }
</script>
