
<script src="/app/I3C_WebAPI.js"></script>
<script src="/app/appUtilities.js"></script>
<script>
    $(document).ready(function () {
        $active.entityTables = {};
        function initViews () {
            $active.initCalls.forEach(function (fct) {
                fct.call();
            });
            $active.initialized = true;
        }
        
        var pathSegments = window.location.pathname.split("/");
        var domain = pathSegments[pathSegments.length-1];
        getI3CAdmin().getRootInstance (domain, function (rootInstance) {
            $active.oid = rootInstance.id;
            initViews();
        });
        
    });
</script>
<div class="container" role="main">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./I3C">I3C</a></li>
            </ol>
            {{> appI3C_DefaultPageView }}
        </div>
    </div>
</div>
