
<div class="panel panel-success">
    <div class="panel-heading"><b>IndustryVertical</b>
    </div>
    <div class="panel-body" id="DefaultPageViewPB">
        <ul class="nav nav-tabs">
        
            <li class="active"><a data-toggle="tab" href="#BasicsTab">Basics</a></li>
        
        </ul>
        <div class="tab-content">
            
            <div id="BasicsTab" class="tab-pane fade in active">
                <div class="panel-body">
                    
                        <!--Body: Basics-->
                        <form class="form-horizontal">
                            
                                <div class="form-group">
                                    <label for="NameInput" class="col-sm-2 control-label">Name
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="NameInput">
                                    </div>
                                </div>
                            
                                <div class="form-group">
                                    <label for="DescriptionInput" class="col-sm-2 control-label">Description
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="DescriptionInput">
                                    </div>
                                </div>
                            
                        </form>
                        <script>
                            function I3C_IndustryVertical_entity2Basics (entity) {
                                $("#NameInput").val(entity.get_Name());
                                $("#DescriptionInput").val(entity.get_Description());
                            }
                            function I3C_IndustryVertical_Basics2entity (entity) {
                                entity.set_Name($("#NameInput").val());
                                entity.set_Description($("#DescriptionInput").val());
                            }
                            whenReady(function () {
                                getI3CAdmin().getEntityByID("I3C", "IndustryVertical", $active.oid, function (entity) {
                                    I3C_IndustryVertical_entity2Basics(entity);
                                });
                            });
                            onSave (function () {
                                if ($active.mode === "edit") {
                                    getI3CAdmin().getEntityByID("I3C", "IndustryVertical", $active.oid, function (entity) {
                                       I3C_IndustryVertical_Basics2entity (entity);
                                    });
                                }
                                else {
                                    var newEntity = getI3CAdmin().addNew_IndustryVertical ($active.parentID, $active.relnID, $active.relnName);
                                    I3C_IndustryVertical_Basics2entity (newEntity);
                                }
                            });
                        </script>
                    
                    
                    
                    
                </div>
            </div>
            
        </div>
    </div>
</div>
