
<div class="panel panel-success">
    <div class="panel-heading"><b>I3C</b>
    </div>
    <div class="panel-body" id="DefaultPageViewPB">
        <ul class="nav nav-tabs">
        
            <li class="active"><a data-toggle="tab" href="#IndustrySectorsTab">IndustrySectors</a></li>
        
            <li ><a data-toggle="tab" href="#ApplicationAreasTab">ApplicationAreas</a></li>
        
            <li ><a data-toggle="tab" href="#HotSpotsTab">HotSpots</a></li>
        
            <li ><a data-toggle="tab" href="#StandardsOrganizationsTab">StandardsOrganizations</a></li>
        
            <li ><a data-toggle="tab" href="#TechnologyAreasTab">TechnologyAreas</a></li>
        
        </ul>
        <div class="tab-content">
            
            <div id="IndustrySectorsTab" class="tab-pane fade in active">
                <div class="panel-body">
                    
                    
                    
                    
                        <!-- Include Default Table View here: -->
                        {{> appIndustrySector_DefaultTableView }}
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Add <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="TV37"></ul>
                        </div>
                        <script>
                            whenReady(function () {
                                getI3CAdmin().getEntityByID("I3C", "I3C", $active.oid, function(entity) {
                                        entity.query_IndustrySectors(
                                            IndustrySector_updateDefaultTableView);
                                });
                                $("#TV37").append("<li><a href='./IndustrySector?parentID="+$active.oid+"&relnID=37&relnName=IndustrySectors'>Add IndustrySector</a></li>");
                                
                            });
                        </script>
                    
                </div>
            </div>
            
            <div id="ApplicationAreasTab" class="tab-pane fade">
                <div class="panel-body">
                    
                    
                    
                    
                        <!-- Include Default Table View here: -->
                        {{> appApplicationArea_DefaultTableView }}
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Add <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="TV39"></ul>
                        </div>
                        <script>
                            whenReady(function () {
                                getI3CAdmin().getEntityByID("I3C", "I3C", $active.oid, function(entity) {
                                        entity.query_ApplicationAreas(
                                            ApplicationArea_updateDefaultTableView);
                                });
                                $("#TV39").append("<li><a href='./ApplicationArea?parentID="+$active.oid+"&relnID=39&relnName=ApplicationAreas'>Add ApplicationArea</a></li>");
                                
                            });
                        </script>
                    
                </div>
            </div>
            
            <div id="HotSpotsTab" class="tab-pane fade">
                <div class="panel-body">
                    
                    
                    
                    
                        <!-- Include Default Table View here: -->
                        {{> appHotSpot_DefaultTableView }}
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Add <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="TV41"></ul>
                        </div>
                        <script>
                            whenReady(function () {
                                getI3CAdmin().getEntityByID("I3C", "I3C", $active.oid, function(entity) {
                                        entity.query_HotSpots(
                                            HotSpot_updateDefaultTableView);
                                });
                                $("#TV41").append("<li><a href='./HotSpot?parentID="+$active.oid+"&relnID=41&relnName=HotSpots'>Add HotSpot</a></li>");
                                
                            });
                        </script>
                    
                </div>
            </div>
            
            <div id="StandardsOrganizationsTab" class="tab-pane fade">
                <div class="panel-body">
                    
                    
                    
                    
                        <!-- Include Default Table View here: -->
                        {{> appStandardsOrganization_DefaultTableView }}
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Add <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="TV43"></ul>
                        </div>
                        <script>
                            whenReady(function () {
                                getI3CAdmin().getEntityByID("I3C", "I3C", $active.oid, function(entity) {
                                        entity.query_StandardsOrganizations(
                                            StandardsOrganization_updateDefaultTableView);
                                });
                                $("#TV43").append("<li><a href='./StandardsOrganization?parentID="+$active.oid+"&relnID=43&relnName=StandardsOrganizations'>Add StandardsOrganization</a></li>");
                                
                            });
                        </script>
                    
                </div>
            </div>
            
            <div id="TechnologyAreasTab" class="tab-pane fade">
                <div class="panel-body">
                    
                    
                    
                    
                        <!-- Include Default Table View here: -->
                        {{> appTechnologyArea_DefaultTableView }}
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Add <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="TV45"></ul>
                        </div>
                        <script>
                            whenReady(function () {
                                getI3CAdmin().getEntityByID("I3C", "I3C", $active.oid, function(entity) {
                                        entity.query_TechnologyAreas(
                                            TechnologyArea_updateDefaultTableView);
                                });
                                $("#TV45").append("<li><a href='./TechnologyArea?parentID="+$active.oid+"&relnID=45&relnName=TechnologyAreas'>Add TechnologyArea</a></li>");
                                
                            });
                        </script>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>
