
<div class="panel panel-success">
    <div class="panel-heading"><b>StandardsOrganization</b>
    </div>
    <div class="panel-body" id="DefaultPageViewPB">
        <ul class="nav nav-tabs">
        
            <li class="active"><a data-toggle="tab" href="#BasicsTab">Basics</a></li>
        
            <li ><a data-toggle="tab" href="#StandardsTab">Standards</a></li>
        
        </ul>
        <div class="tab-content">
            
            <div id="BasicsTab" class="tab-pane fade in active">
                <div class="panel-body">
                    
                        <!--Body: Basics-->
                        <form class="form-horizontal">
                            
                                <div class="form-group">
                                    <label for="NameInput" class="col-sm-2 control-label">Name
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="NameInput">
                                    </div>
                                </div>
                            
                                <div class="form-group">
                                    <label for="DescriptionInput" class="col-sm-2 control-label">Description
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="DescriptionInput">
                                    </div>
                                </div>
                            
                        </form>
                        <script>
                            function I3C_StandardsOrganization_entity2Basics (entity) {
                                $("#NameInput").val(entity.get_Name());
                                $("#DescriptionInput").val(entity.get_Description());
                            }
                            function I3C_StandardsOrganization_Basics2entity (entity) {
                                entity.set_Name($("#NameInput").val());
                                entity.set_Description($("#DescriptionInput").val());
                            }
                            whenReady(function () {
                                getI3CAdmin().getEntityByID("I3C", "StandardsOrganization", $active.oid, function (entity) {
                                    I3C_StandardsOrganization_entity2Basics(entity);
                                });
                            });
                            onSave (function () {
                                if ($active.mode === "edit") {
                                    getI3CAdmin().getEntityByID("I3C", "StandardsOrganization", $active.oid, function (entity) {
                                       I3C_StandardsOrganization_Basics2entity (entity);
                                    });
                                }
                                else {
                                    var newEntity = getI3CAdmin().addNew_StandardsOrganization ($active.parentID, $active.relnID, $active.relnName);
                                    I3C_StandardsOrganization_Basics2entity (newEntity);
                                }
                            });
                        </script>
                    
                    
                        <hr>
                        <form class="form-horizontal">
                            
                                <div class="form-group">
                                    <label for="LiasonStatusSelection" class="col-sm-2 control-label">LiasonStatus</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="LiasonStatusSelection">
                                            <option>None</option><option>Considered</option><option>WIP</option><option>Confirmed</option>
                                        </select>
                                    </div>
                                </div>
                            
                        </form>
                    
                    
                    
                </div>
            </div>
            
            <div id="StandardsTab" class="tab-pane fade">
                <div class="panel-body">
                    
                    
                    
                    
                        <!-- Include Default Table View here: -->
                        {{> appStandard_DefaultTableView }}
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Add <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="TV96"></ul>
                        </div>
                        <script>
                            whenReady(function () {
                                getI3CAdmin().getEntityByID("I3C", "StandardsOrganization", $active.oid, function(entity) {
                                        entity.query_Standards(
                                            Standard_updateDefaultTableView);
                                });
                                $("#TV96").append("<li><a href='./Standard?parentID="+$active.oid+"&relnID=96&relnName=Standards'>Add Standard</a></li>");
                                
                            });
                        </script>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>
