
<div class="table-container">
    <table class="table table-hover" id="DefaultTableViewTable">
        <thead>
            <tr>
                
                <th> </th>
            </tr>
        </thead>
        <tbody id="TechnologyArea-DefaultTableView">
        <tbody>
    </table>
</div>
<script>
    TechnologyArea_updateDefaultTableView = function (relationship) {
            var queryResult = relationship.queryResults;
            queryResult.forEach (function (elem) {
                var TDs= "";
                $("#TechnologyArea-DefaultTableView").append("<tr class='TechnologyArea-DefaultTableView-row' id='"+elem.id+"'>"+TDs+"<td><span class='glyphicon glyphicon-forward'></span></td></tr>");
            });

            $(".TechnologyArea-DefaultTableView-row").click(function () {
                window.location.href = "./../app/TechnologyArea?oid="+$(this).attr('id');
            });
        }
</script>
