<script src="{{baseUrl}}/libs/svg/svg.js"></script>
<script src="{{baseUrl}}/app/WarpJSClientLib.js"></script>
<script src="{{baseUrl}}/app/WarpJSModelParser.js"></script>
<script src="{{baseUrl}}/app/WarpCMS.js"></script>

<style>
    .tab-pane.active {
        padding-top: 10px;
    }
</style>

<script>
    $(document).ready(function () {
        var config = {
            viewName: "DefaultPageView",
            htmlElements: {
                rootElem: "warpPageRoot",
                saveButton: "NavButtonSaveA"
            }
        };
        initializeWarpJS (config, function () {
            console.log("MyComplex Shop: Initialization successful!");
        });
    });
</script>
<div id="warpPageRoot">
</div>
