<div class="modal fade" role="dialog" tabindex="-1" aria-hidden="true"
  data-warpjs-modal="{{MODAL_NAME}}"
  >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      {{>modal-header title=title}}
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-warpjs-action="confirm-delete">Delete</button>
        <button type="button" class="btn btn-default" data-warpjs-action="cancel-delete">Cancel</button>
      </div>
    </div>
  </div>
</div>
