<html>

<head>
    <title>I3C Portal - {{title}}</title>
    <link rel="stylesheet" href="/static/3rd-party/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/styles.min.css" />
</head>

<body>
    <div id="i3c-portal-placeholder" />

    <script src="/static/3rd-party/js/jquery.min.js"></script>
    <script src="/static/3rd-party/js/bootstrap.min.js"></script>
    <script src="/static/{{bundle}}.js"></script>
</body>

</html>

