<footer id="footer" class="footer i3c-portal--footer row">
    <div class="col-md-4">
        Copyright &copy; {{copyrightYear}}
    </div>
    <div class="col-md-4">
        SOME FOOTER HERE
    </div>
    <div class="col-md-4">
        Connect with us
    </div>
</footer>
