<div class="i3c-portal--header row">
    <div class="col-md-1">
        <a href="{{_links.self.href}}">[LOGO]</a>
    </div>
    <div class="col-md-7">
        I3C Portal
    </div>
    <div class="col-md-4">
        {{> I3C:common:login}}
    </div>
</div>
