<header class="header i3c-portal--header row">
    <div class="col-xs-1 left-right-margin" />

    <div class="logo-container col-xs-2 col-md-2 no-padding">
        <a href="{{_links.i3c_homepage.href}}"><img class="logo"
           src="/public/iic_images/IIC-logo-4.png"
           alt="[LOGO]" /></a>
    </div>

    <div class="col-xs-4">
    </div>

    <div class="col-xs-4 pull-right">
        {{#if user}}
            {{> _login}}
        {{/if}}
    </div>

    <div class="col-xs-1 left-right-margin" />
</header>
