{{#if user}}
    Hi {{user.Name}}
    <a href="{{_links.i3c_logout.href}}"><span title="Log out" class="glyphicon
    glyphicon-log-out" /></a>
{{^}}
    {{#unless hideLoginHeader}}
        <form class="hidden-xs hidden-sm form-horizontal" role="form"
                action="{{_links.i3c_login.href}}" method="POST"
                >
            <div class="form-group">
                <div class="col-md-5">
                    <input type="text" id="i3c-login-username"
                        name="username"
                        class="form-control"
                        placeholder="username"
                        required
                        />
                </div>
                <div class="col-md-5">
                    <input type="password" id="i3c-login-password"
                        name="password"
                        class="form-control"
                        placeholder="password"
                        required
                        />
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-default">
                        <span title="Log in" class="glyphicon glyphicon-log-in" />
                    </button>
                </div>
            </div>
        </form>
        <div class="visible-xs visible-sm">
            <a href="{{_links.i3c_login.href}}">
                <button class="btn">
                    Log in
                    <span title="Log in" class="glyphicon glyphicon-triangle-right" />
                </button>
            </a>
        </div>
    {{/unless}}
{{/if}}
