<div class="form-group has-feedback">
  <input type="text" data-warpjs-type="filter-box" class="form-control" {{#if placeholder}}placeholder="{{placeholder}}"{{/if}} />
  <i class="glyphicon glyphicon-filter form-control-feedback"></i>
</div>
