{{#if panel.isOverviewPanel}}
  <div class="warpjs-overview-toc">
    {{> modal panel=panel}}
    <div id="overview-toc-affix" class="affix-top">
      <button type="button" data-toggle="modal" data-target="#overview-toc-modal">Table of contents</button>
    </div>
  </div>
{{/if}}
