{{#if items.length}}
  <ol>
    {{#each items as |item|}}
      <li>
        <span class="toc-item" data-warpjs-id="{{item.id}}" data-dismiss="modal">{{item.name}}</span>
        {{> toc-level items=item._embedded.items}}
      </li>
    {{/each}}
  </ol>
{{/if}}
