{{#if items.length}}
  <ul>
    {{#each items as |item|}}
      {{#if item.name}}
        <li>
          <span class="toc-item" data-warpjs-id="{{item.id}}" data-dismiss="modal">{{item.name}}</span>
          {{> toc-level items=item._embedded.items}}
        </li>
      {{/if}}
    {{/each}}
  </ul>
{{/if}}
