[data-warpjs-modal="warpjs-inline-edit"] {
    .modal-dialog {
        .modal-content {
            @import './components/style.less';

            .warpjs-association-modal-list {
                background-color: white;
                height: 100%;
            }

            .warpjs-association-modal-content {
                background-color: #cccccc;
                height: 100%;
            }
        }
    }
}
