<div class="form-group">
    <label for="{{globalID}}" class="col-sm-2 control-label">{{label}}</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="{{globalID}}"
            {{#if isTextPropertyType}}readonly{{/if}}
            />
    </div>
</div>
