<div class="modal fade" id="warpjs-document-status-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      {{>modal-header title="INDUSTRIAL INTERNET INTEROPERABILITY COALITION (“I3C”)<br><b>PROPOSAL – NOT APPROVED</b>" html=true}}

      <div class="modal-body">
        <p>Copyright © 2018 by the various Contributors (contact I3C for a
        list). All Rights Reserved.</p>

        <p>The following document (“Document”) is a
        <span style="text-decoration: underline">proposed draft</span>
        in process at the I3C, an initiative of the Industrial Internet
        Consortium ("IIC"), a program of Object Management Group, Inc. ("OMG").
        This Document has not been approved by the I3C; is being made available
        for review and comment only; and may not be copied, downloaded,
        displayed or distributed, except solely for purposes of review and
        comment and <i>solely to persons who accept these terms.</i></p>

        <p><b>The Document is posted “AS-IS,” without any warranties,
        representations or conditions of any kind, express or implied,
        including warranties of title, ownership or non-infringement or
        concerning the accuracy, utility, approval or acceptance of any content.
        In no event will OMG (including its IIC program) or any author or
        copyright owner be liable for errors contained herein or for direct,
        indirect, incidental, special, consequential, reliance or cover damages,
        including loss of profits, revenue, data or use.</b></p>
      </div>
    </div>
  </div>
</div>
