@import './../variables.less';

.warpjs-document-status-container {
    background-color: @warpjs-secondary-bg;
    padding-top: 5px;
    padding-bottom: 5px;

    .warpjs-document-status-disclaimer {
        color: #ff0000;
    }

    .warpjs-table {
        .warpjs-cell {
            vertical-align: middle;

            &.warpjs-icon {
                padding-right: 20px;
            }

            a {
                color: #ff0000;
                text-decoration: underline;
            }
        }
    }

}
