{{#if isVisible}}
  {{#if showDisclaimer}}
    <div class="row warpjs-document-status-container">
      {{>modal}}

      <div class="col-xs-1 left-right-margin"></div>

      <div class="col-xs-10 warpjs-document-status-disclaimer">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td scope="row" width="30px">
                <i class="glyphicon glyphicon-exclamation-sign fa-2x pull-left"
                   style="color: #f00"></i>
              </td>
              <td>
                <h6>
                  <b>Document status: PROPOSAL - Please read the</b>
                  <a class="csv-list-item-link" data-toggle="modal"
                    data-target="#warpjs-document-status-modal">Disclaimer</a>
                </h6>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-xs-1 left-right-margin"></div>
    </div>
  {{/if}}

  {{#unless isPublic}}
    <div class="row warpjs-document-status-container">
      <div class="col-xs-1 left-right-margin"></div>

      <div class="col-xs-10 warpjs-document-status-disclaimer">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td>
                <h6>
                  <b>This page will not be accessible to the general public and
                    is visible only to IIC member users because of the status of
                    the content on this page.</b>
                </h6>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-xs-1 left-right-margin"></div>
    </div>
  {{/unless}}
{{else}}
  <div class="row warpjs-document-status-container">
    <div class="col-xs-1 left-right-margin"></div>

    <div class="col-xs-10 warpjs-document-status-disclaimer">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>
              <h6><b>This page is not visible because of your access.</b></h6>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-xs-1 left-right-margin"></div>
  </div>
{{/if}}
