<div class="form-group basic-property-pi">
    <label class="col-xs-12">
        <span class="col-xs-2 control-label">{{label}}</span>
        <div class="col-xs-10">
            <input type="{{model.inputType}}" class="form-control" value="{{model.value}}" />
        </div>
    </label>
</div>
