<div class="form-group basic-property-pi">
  <label class="col-xs-12">
    <span class="col-xs-2 control-label">{{label}}</span>
    <div class="col-xs-10">
      <input
        class="form-control"
        type="{{model.inputType}}"
        value="{{model.value}}"
        data-doc-level="{{model.docLevel}}"
        />
    </div>
  </label>
</div>
