<div class="form-group">
    <label class="col-xs-12">
        <span class="col-xs-2 control-label">{{label}}</span>
        <div class="col-xs-10">
            <select class="form-control">
                <option data-literal="WarpJS_Enum_noSelection">------------</option>
                {{#each model.literals}}
                    {{!-- FIXME: Add the selected attribute --}}
                    <option data-literal="{{name}}" {{#if selected}}selected{{/if}}>{{name}}</option>
                {{/each}}
            </select>
        </div>
    </label>
</div>
