<div class="w2-panel-body">
  {{#if multiPanels }}
    <div class="tab-content">
      <ul class="nav nav-tabs">
        {{#each panels as |panel tabindex|}}
          <li role="presentation"
            data-tabindex="{{tabindex}}"
            {{#if @first}}class="active"{{/if}}
            ><a data-toggle="tab" href="#">{{panel.label}}</a></li>
        {{/each}}
      </ul>

      {{#each panels as |panel tabindex|}}
        {{> panel panel tab=true tabindex=tabindex}}
      {{/each}}
    </div>
  {{else}}
    {{> panel panels.[0] tab=false tabindex=0}}
  {{/if}}
</div>
