<div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>
                        </div>

                        <div class="input-group-addon">
                            TODO: IDX
                        </div>

                        <select class="form-control">
                        </select>

                        <div class="input-group-addon">
                            <a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>

                        <div class="input-group-addon">
                            <a href="#"><span class="glyphicon glyphicon-plus-sign"></span></a>
                        </div>

                        <div class="input-group-addon">
                            <a href="#"><span class="glyphicon glyphicon-minus-sign"></span></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel-body">
        </div>
    </div>

    <div class="alert alert-info">
        Click here to add new element to '{{label}}':
    </div>

    <div class="alert alert-warning">
        Save new element first before adding to '{{label}}'!
    </div>

</div>
