<div class="form-group">
    <div>
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    {{#each relationship.model.tableView.basicProperties}}
                        <th>{{this}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each relationship.model.tableView.data as |row|}}
                    <tr data-url="{{row.[0]}}">
                        {{#each row as |col|}}
                            {{#if @index}} {{!-- first is url --}}
                                <td>{{col}}</td>
                            {{/if}}
                        {{/each}}
                    </tr>
                {{/each}}
            </tbody>
        </table>

        {{> table-navigation}}
    </div>

    <div class="alert alert-warning">
        Save new element first before adding to '{{label}}'!
    </div>
</div>
