<div class="form-group">
    <div>
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <a href="#" data-direction="left">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </div>
                    <div class="input-group-addon">
                        IDX
                    </div>
                    <div class="input-group-addon">
                        <a href="#" data-direction="right">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="alert alert-warning">
        Save new element first before adding to '{{label}}'!
    </div>
</div>
