{{#partial "content"}}
<div class="container" role="main" id="WarpJS">
    <div class="row">
        <div class="col-xs-12">
            {{> breadcrumb this._embedded.instances.[0] breadcrumbs=this._embedded.breadcrumbs}}
            {{> main-panel-view this._embedded.instances.[0]}}
        </div>
    </div>
</div>
{{/partial}}

{{> ../templates/page}}
