<div class="panel-item-body panel-body">
    {{#each panelItems}}
        {{#if (isSeparator)}}
            {{> ./_separatorPanel}}
        {{/if}}
        {{#if (isRelationshipPanelItem)}}
            {{> ./_relationshipPanel entity=this}}
        {{/if}}
        {{#if (isBasicProperty)}}
            {{> ./_basicPropertyPanel basicProperty=this}}
        {{/if}}
        {{#if this.enumPanelItems}}
            {{> ./_enumPanel}}
        {{/if}}
    {{/each}}
</div>
