<div class="panel-item-body panel-body">
    {{#each panelItems}}
        {{#if (isSeparator)}}
            {{> ./_separatorPanel}}
        {{else if (isRelationshipPanelItem)}}
            {{> ./_relationshipPanel entity=this}}
        {{else if (isBasicProperty)}}
            {{> ./_basicPropertyPanel basicProperty=this}}
        {{else if (isEnumPanelItem)}}
            {{> ./_enumPanel}}
        {{/if}}
    {{/each}}
</div>
