.warpjs-modal-close-button-container {
    float: right;
    padding-right: 0px;
    margin-right: -5px;
}

.warpjs-title {
    font-size: 24px;
    margin-bottom: 12px;
    line-height: 1.4;
}

form.form-inline.warpjs-types-select {
    .control-label {
        margin-right: 12px;
    }
}

.warpjs-instances-list {
    overflow-y: auto;
    flex: 2;

    .warpjs-filterable-list {
        .warpjs-filterable-list-results {
            .list-group {
                margin-bottom: 0;
            }
        }
    }

    .warpjs-instances-item {
        [data-warpjs-action] {
            vertical-align: top;
        }

        .warpjs-value {
            max-width: calc(~"100% - 25px");
            display: inline-block;
            margin-left: 5px;
            line-height: 1.4em;
            max-height: 3.7em;
            overflow: hidden;
        }
    }
}
