<div class="container-fluid">
  <div class="row warpjs-secondary-bg breadcrumb-container">
    {{> left-right-margin}}

    <div class="col-xs-10 col-sm-9 no-padding">
      {{> page-breadcrumb breadcrumbs=page._embedded.breadcrumbs}}
    </div>
    <div class="col-xs-2 col-sm-1 no-padding breadcrumb-actions">
      {{#if page._links.edit}}
        <a href="{{page._links.edit.href}}"
          title="Edit '{{page.name}}'"
          ><span class="glyphicon glyphicon-pencil"></span></a>
      {{/if}}
    </div>

    {{> left-right-margin}}
  </div>
</div>

<div class="container-fluid">
  {{> ../document-status/template status=page.status}}
</div>

{{#if page.status.isVisible}}
  {{> page-view  page=page pageView=page._embedded.pageViews.[0]}}
{{/if}}
