<div id="warpjs-is-home-page-{{page.isHomePage}}" class="container-fluid">
  <div class="row breadcrumb-container">
    {{> left-right-margin}}

    <div class="col-xs-10 col-md-8 no-padding">
      {{> page-breadcrumb breadcrumbs=page._embedded.breadcrumbs}}
    </div>
    <div class="col-xs-2 col-md-2 no-padding text-right">
      <span id="warpjs-pdf-export-button"></span>
    </div>

    {{> left-right-margin}}
  </div>
  <div class="row">
    {{> left-right-margin}}
    <div id="warpjs-breadcrumb-actions" class="col-xs-12 col-md-10 no-padding text-right"></div>
    {{> left-right-margin}}
  </div>
</div>

<div class="container-fluid">
  {{> ../document-status/template status=page.status customMessages=customMessages}}
</div>

{{#if page.status.isVisible}}
  {{> page-view  page=page pageView=page._embedded.pageViews.[0]}}
{{else}}
  {{> left-right-margin}}

  <div class="col-xs-12 col-sm-10 no-padding">
    <div class="text-center warpjs-user-not-logged-in">To view the content of this page, please login.</div>

    <div class="login-button text-center">
      <button type="button" class="btn warpjs-page-login-button">Login</button>
    </div>
  </div>

  {{> left-right-margin}}
{{/if}}
