<div class="container-fluid warpjs-page-view warpjs-page-view-{{pageView.style}}">
  {{#if pageView.isSpecializedPageViewStyle}}
    {{> page-view-specialized page=page pageView=pageView}}
  {{else}}
    {{> page-view-plain page=page pageView=pageView}}
  {{/if}}
</div>
