<div class="col-xs-12">
  {{#if section.name}}
    <div class="row">
      <div class="col-xs-12 warpjs-title">{{section.name}}</div>
    </div>
  {{/if}}

  {{#if section._embedded.iframes.length}}
    <div class="row overview-iframes-container">
      {{#each section._embedded.iframes as |iframe|}}
        {{> page-view-panel-section-document-iframe section=section iframe=iframe}}
      {{/each}}
    </div>
  {{/if}}

  {{#if section._embedded.images.length}}
    <div class="row overview-image-container">
      {{#each section._embedded.images as |image|}}
        {{> page-view-panel-section-document-image section=section image=image}}
      {{/each}}
    </div>
  {{/if}}

  {{#if section.description}}
    <div class="row">
      <div class="col-xs-12 content">{{{section.description}}}</div>
    </div>
  {{/if}}
</div>
