<div class="warpjs-page-view-headline">
  <div class="warpjs-page-view-headline-section">
    <div class="warpjs-hi-secondary warpjs-page-view-headline-section-value">{{page.typeLabel}}</div>
    <div class="warpjs-hi-secondary warpjs-page-view-headline-section-footer"></div>
  </div>

  <div class="warpjs-hi-primary warpjs-page-view-headline-content warpjs-content">
    {{page.name}}
  </div>
</div>
