<div class="container-fluid">
  <div class="row warpjs-secondary-bg breadcrumb-container">
    {{> left-right-margin}}

    <div class="col-xs-10 col-sm-8 col-lg-9 no-padding">
      {{> page-breadcrumb breadcrumbs=page._embedded.breadcrumbs}}
    </div>
    <div class="col-xs-2 col-lg-1 no-padding breadcrumb-actions warpjs-actions">
      {{#if page._links.edit}}
        <span class="glyphicon glyphicon-pencil warpjs-inline-edit-enable"
          title="Show inline edit"
          data-warpjs-action="inline-edit-toggle"
          ></span>
        <span class="glyphicon glyphicon-eye-open warpjs-inline-edit-toggle warpjs-inline-edit-disable"
          title="Hide inline edit"
          data-warpjs-action="inline-edit-toggle"
          ></span>
        <span class="glyphicon glyphicon-cog warpjs-inline-edit-content"
          title="Edit document in CMS"
          data-warpjs-action="goto"
          data-warpjs-url="{{page._links.edit.href}}"
          ></span>
      {{/if}}
    </div>

    {{> left-right-margin}}
  </div>
</div>

<div class="container-fluid">
  {{> ../document-status/template status=page.status}}
</div>

{{#if page.status.isVisible}}
  {{> page-view  page=page pageView=page._embedded.pageViews.[0]}}
{{else}}
    {{> left-right-margin}}

    <div class="col-xs-12 col-sm-10 no-padding">
      <div class="text-center warpjs-user-not-logged-in">To view the content of this page, please login.</div>

      <div class="login-button text-center">
        <button type="button" class="btn" data-warpjs-action="toggle-login-form">Login</button>
      </div>
    </div>

    {{> left-right-margin}}
{{/if}}
