{{#if users}}
  <div class="warpjs-page-view-side-section">
    <div class="warpjs-title">{{title}}</div>
    <div class="warpjs-content">
      {{#each users as |user|}}
        <div class="row warpjs-user warpjs-table">
          <div class="col-xs-2 col-sm-4 col-md-2 warpjs-community-image warpjs-cell">
            <div class="warpjs-image-container-parent">
              <div class="warpjs-image-container-child">
                <img src="{{user._links.image.href}}" />
              </div>
            </div>
          </div>

          <div class="col-xs-10 col-sm-8 col-md-10 warpjs-user-info warpjs-cell">
            <a class="warpjs-user-name href="{{user._links.self.href}}">{{user.name}}</a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}
