{{#each panel._embedded.items as |item|}}
  <div class="warpjs-page-view-main-body-item">
    <div class="warpjs-title">{{item.name}}</div>
    <div class="warpjs-description">{{{item.description}}}</div>
  </div>
{{/each}}
