<div class="warpjs-panel">
  <div class="panel panel-default warpjs-panel-style-{{panel.style}}">
    <div class="panel-heading warpjs-is-overview-panel-{{panel.isOverviewPanel}}">
      <div class="panel-title">{{panel.label}}</div>
    </div>

    <div class="panel-body">
      {{> ../table-of-contents/template panel=panel}}
      {{#each panel._embedded.items as |section|}}
        {{> page-view-panel-section page=../page section=section reference=../reference}}
      {{/each}}
    </div>
  </div>
</div>
