<div class="warpjs-page-view-{{pageView.style}}">
  {{#if pageView.isOfStyle.BoK}}
    TODO: Display BoK
  {{else if pageView.isOfStyle.Insight}}
    TODO: Display Insight
  {{else if pageView.isOfStyle.Testbed}}
    TODO: Display Testbed
  {{else}}
    {{> page-view-plain pageView=pageView}}
  {{/if}}
</div>
