{{#each panels as |panel|}}
  {{#if panel.showPanel}}
    <div class="warpjs-page-view-main-body-panel">
      <div class="warpjs-page-view-main-body-panel-title">
        {{panel.label}}
      </div>
      {{> page-view-main-body-item items=panel._embedded.items}}
    </div>
  {{/if}}
{{/each}}
