{{#if panels.length}}
  {{#each panels as |panel|}}
    <div class="row warpjs-secondary-bg warpjs-page-view-side-panel warpjs-page-view-sidebar">
      {{#each panel._embedded.items as |section|}}
        {{#if section.showItem}}
          <div class="warpjs-page-view-side-section">
            <div class="warpjs-title">{{section.label}}</div>
            <div class="warpjs-content">
              {{> panel-items-csv items=section._embedded.items}}
            </div>
          </div>
        {{/if}}
      {{/each}}
    </div>
  {{/each}}
{{/if}}

