<div id="warpjs-is-home-page-{{page.isHomePage}}" class="container-fluid">
  <div class="row warpjs-secondary-bg breadcrumb-container">
    {{> left-right-margin}}

    <div class="col-xs-12 col-md-10 no-padding">
      {{> page-breadcrumb breadcrumbs=page._embedded.breadcrumbs}}
    </div>

    {{> left-right-margin}}
  </div>
  <div class="row">
    {{> left-right-margin}}

    <div class="col-xs-12 col-md-10 no-padding breadcrumb-actions warpjs-actions">
      <span id="warpjs-following-toggle" />

      <span id="warpjs-create-new-version"></span>

      {{#if page._links.edit}}
        <span class="warpjs-breadcrumb-action-button warpjs-breadcrumb-action-button-with-label warpjs-inline-edit-enable"
          data-warpjs-action="inline-edit-toggle"
          title="Show inline edit"
          >
          <span class="glyphicon glyphicon-pencil"></span>Edit
        </span>
        <span id="warpjs-document-edition"></span>
        <span class="warpjs-breadcrumb-action-button warpjs-inline-edit-content"
          data-warpjs-action="goto"
          data-warpjs-url="{{page._links.edit.href}}"
          title="Edit document in CMS"
          >
          <span class="glyphicon glyphicon-cog"></span>
        </span>
        <span class="warpjs-breadcrumb-action-button warpjs-breadcrumb-action-button-with-label warpjs-inline-edit-disable"
          title="Hide inline edit"
          data-warpjs-action="inline-edit-toggle"
          >
          <span class="glyphicon glyphicon-pencil"></span>Stop editing
        </span>
      {{/if}}
    </div>

    {{> left-right-margin}}
  </div>
</div>

<div class="container-fluid">
  {{> ../document-status/template status=page.status customMessages=customMessages}}
</div>

{{#if page.status.isVisible}}
  {{> page-view  page=page pageView=page._embedded.pageViews.[0]}}
{{else}}
  {{> left-right-margin}}

  <div class="col-xs-12 col-sm-10 no-padding">
    <div class="text-center warpjs-user-not-logged-in">To view the content of this page, please login.</div>

    <div class="login-button text-center">
      <button type="button" class="btn" data-warpjs-action="toggle-login-form">Login</button>
    </div>
  </div>

  {{> left-right-margin}}
{{/if}}
