{{> page-header-image page=page image=page._embedded.headerImages.[0]}}

<div class="row">
  {{> left-right-margin}}

  <div class="col-xs-12 col-sm-10 warpjs-page-view-specialized">
    {{> page-view-headline page=page}}
    {{> page-view-summary page=page summary=pageView._embedded.summaries}}

    <div class="row warpjs-content">
      <div class="col-xs-12 col-sm-8 warpjs-page-view-main-body pull-right">
        {{#each pageView._embedded.mainBodyPanels as |panel|}}
          {{> page-view-panel page=../page panel=panel}}
        {{/each}}
      </div>

      <div class="col-xs-12 col-sm-4 warpjs-page-view-side-zone">
        {{> page-view-badges page=page panels=pageView._embedded.badges}}
        {{> page-view-sidebar page=page panels=pageView._embedded.sidebars}}
        {{> page-view-community page=page panels=pageView._embedded.communities}}
      </div>
    </div>
  </div>

  {{> left-right-margin}}
</div>
