{{#if users}}
  <div class="warpjs-page-view-side-section">
    <div class="warpjs-title">{{title}}</div>
    {{#each users as |user|}}
      <div class="warpjs-content">
        <div class="row warpjs-user">
          <div class="col-xs-12 col-md-4 warpjs-community-image">
            <div class="warpjs-image-container-parent">
              <div class="warpjs-image-container-child">
                <img src="{{user._links.image.href}}" />
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-8">
            <a href="{{user._links.self.href}}">{{user.name}}</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}
