{{#if overviews.length}}
<div class="warpjs-page-view-overview">
  {{#each overviews as |overview|}}
    <p>CHANGEME THIS IS MOCK VALUE</p>

    <p>Key Insights</p>

    <p>Shared memory on a LAN can achieve near real-time ....</p>
  {{/each}}
</div>
{{/if}}
