{{> page-header-image page=page image=page._embedded.headerImages.[0]}}

{{#each pageView._embedded.mainBodyPanels as |panel|}}
  {{#if panel.showPanel}}
    <div class="row warpjs-panel">
      {{> left-right-margin}}

      <div class="col-xs-12 col-sm-8 col-sm-offset-1 warpjs-content">
        {{> page-view-panel page=../page panel=panel}}
      </div>

      {{> left-right-margin}}
    </div>
  {{/if}}
{{/each}}

{{#each pageView._embedded.communities as |community|}}
  {{#if community.showPanel}}
    <div class="row warpjs-panel">
        {{> left-right-margin}}

        <div class="col-xs-12 col-sm-8 col-sm-offset-1 warpjs-content">
          <div class="panel panel-item panel-default warpjs-panel-style-Transparent">
            <div class="panel-body panel-item-body">
              {{> page-view-community-section page=../page title="Authors" users=community._embedded.authors}}
              {{> page-view-community-section page=../page title="Contributors" users=community._embedded.contributors}}
            </div>
          </div>
        </div>

        {{> left-right-margin}}
    </div>
  {{/if}}
{{/each}}

