<div id="warpjs-individual-contribution-header-placeholder"></div>
{{> page-header-image page=page image=page._embedded.headerImages.[0]}}
<div id="warpjs-user-profile-menu"></div>
{{#unless page._embedded.headerImages.[0]._links}}
  <div class="row warpjs-panel warpjs-page-title">
    {{> left-right-margin}}
      {{#if pageView.hasAggregationFilters}}
      <div class="col-xs-12 col-sm-10 warpjs-content">
      {{else}}
      <div class="col-xs-12 col-sm-8 col-sm-offset-1 warpjs-content">
      {{/if}}
        <div class="panel-body">
          {{#unless pageView.isOfStyle.IndividualContribution}}
            <h1>{{page.name}}</h1>
          {{/unless}}
        </div>
      </div>
    {{> left-right-margin}}
  </div>
{{/unless}}

{{#if pageView.hasAggregationFilters}}
  <div class="row warpjs-page-view-with-aggregation-filters">
    {{> left-right-margin}}

    {{#if pageView.hasAggregationFilters}}
    <div class="col-xs-12 col-sm-10 warpjs-content">
    {{else}}
    <div class="col-xs-12 col-sm-8 col-sm-offset-1 warpjs-content">
    {{/if}}

      <div id="warpjs-aggregation-filters-input" class="col-xs-12"></div>

      <div id="warpjs-aggregation-filters-panel" class="col-xs-12 col-sm-4"></div>

      <div class="col-xs-12 col-sm-8 warpjs-page-view-main-body">
        <div id="warpjs-aggregation-filters-empty-results"></div>
        {{> ./page-view-main-body-panels page=page pageView=pageView showMargin=false}}
      </div>
    </div>

    {{> left-right-margin}}
  </div>
{{else}}
  {{> ./page-view-main-body-panels page=page pageView=pageView showMargin=true}}
{{/if}}

{{#each pageView._embedded.communities as |community|}}
  {{#if community.showPanel}}
    <div id="community" class="row warpjs-panel">
        {{> left-right-margin}}

        <div class="col-xs-12 col-sm-8 col-sm-offset-1 warpjs-content">
          <div class="panel panel-item panel-default warpjs-panel-style-Transparent">
            <div class="panel-body panel-item-body">
              {{> ./panels/community/section page=../page title="Editors" users=community._embedded.editors}}
              {{> ./panels/community/section page=../page title="Authors" users=community._embedded.authors}}
              {{> ./panels/community/section page=../page title="Contributors" users=community._embedded.contributors}}
            </div>
          </div>
        </div>

        {{> left-right-margin}}
    </div>
  {{/if}}
{{/each}}
