<div class="warpjs-page-view-main-body">
  {{#each panels as |panel|}}
    <div class="warpjs-page-view-main-body-panel">
      <div class="warpjs-page-view-main-body-panel-title">
        {{panel.label}}
      </div>
      {{> page-view-main-body-document panel=panel}}
    </div>
  {{/each}}
</div>

