{{#each panels as |panel|}}
  {{#if panel.showPanel}}
    <div class="row warpjs-secondary-bg warpjs-page-view-side-panel warpjs-page-view-badges">
      <div class="col-xs-12">
        <div class="warpjs-page-view-side-section">
          <div class="row warpjs-title">
            <div class="col-xs-12">{{panel.label}}</div>
          </div>
          <div class="row warpjs-content">
            <div class="col-xs-12">
              {{#each panel._embedded.badgeCategories as |badgeCategory|}}
                <div class="row warpjs-badge-category">
                  <div class="col-xs-12 warpjs-badge-category-title">{{badgeCategory.name}}</div>
                </div>
                <div class="row warpjs-badge-definitions">
                  {{#each badgeCategory._embedded.badgeDefinitions as |badgeDefinition|}}
                    <div class="col-xs-6 warpjs-item">
                      {{#if badgeDefinition._links.image.href}}
                        <div class="warpjs-image-container-parent">
                          <div class="warpjs-image-container-child">
                            <a href="{{badgeDefinition._links.self.href}}">
                              <img src="{{badgeDefinition._links.image.href}}" />
                            </a>
                          </div>
                        </div>
                      {{/if}}
                    </div>
                  {{/each}}
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
{{/each}}
