{{#if authors.showAuthors}}
  <div class="row warpjs-page-view-authors">
    {{> page-view-authors-section title="Authors" users=authors._embedded.authors}}
    {{> page-view-authors-section title="Contributors" users=authors._embedded.contributors}}
  </div>
{{/if}}
