<div class="col-xs-12 {{#if paragraph._embedded.callouts.length}}warpjs-paragraph-callout{{/if}}">
  {{#if paragraph.name.length}}
    <div class="row">
      <div class="col-xs-12 warpjs-title">{{paragraph.name}}</div>
    </div>
  {{/if}}

  {{#if paragraph._embedded.callouts.length}}
    {{#if paragraph._embedded.callouts.[0].subHeading.length}}
      <div class="row warpjs-paragraph-callout-subheading">
        <div class="col-xs-12 warpjs-content">{{paragraph._embedded.callouts.[0].subHeading}}</div>
      </div>
    {{/if}}
  {{/if}}

  {{#if paragraph._embedded.iframes.length}}
    <div class="row overview-iframes-container">
      {{#each paragraph._embedded.iframes as |iframe|}}
        {{> iframe iframe=iframe}}
      {{/each}}
    </div>
  {{/if}}

  {{#if paragraph._embedded.images.length}}
    <div class="row overview-image-container">
      {{#each paragraph._embedded.images as |image|}}
        {{> image image=image}}
      {{/each}}
    </div>
  {{/if}}

  {{#if paragraph.description}}
    <div class="row">
      <div class="col-xs-12 content">{{{paragraph.description}}}</div>
    </div>
  {{/if}}

  {{#if paragraph._embedded.callouts.[0]._links.self.href}}
    <div class="row warpjs-paragraph-callout-button">
      {{> paragraph-callout-button callouts=paragraph._embedded.callouts}}
    </div>
  {{/if}}

  {{> ../inline-edit/context-button page=page}}
</div>
