<div class="warpjs-sub-documents">
  <div class="warpjs-title">{{relationship.label}}</div>
  <div class="warpjs-content">
    {{> panel-items/preview/template items=relationship._embedded.items}}
  </div>
</div>
