@import 'warpjs-utils-portal.less';

@import './breadcrumb';
@import '../document-status/style';
@import '../inline-edit/style';

#warpjs-content-placeholder {
    min-height: 50vh;
}

.warpjs-content {
    position: relative;
}

.warpjs-page-view {
    color: #000;
    padding-top: 20px;

    .warpjs-page-header-image {
        height: 160px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        .left-right-margin {
            background-color: rgba(255, 255, 255, 0.6);
            height: 100%;
        }

        .warpjs-page-image-header-content {
            padding-left: 0;
            padding-right: 0;

            .warpjs-page-image-header-padding {
                background-color: rgba(255, 255, 255, 0.6);
                height: 100%;
                width: 15px;
            }

            .warpjs-section {
                height: 100%;
                margin-left: 15px;
                margin-right: 15px;

                color: #ffffff;
                font-family: @warpjs-secondary-font-family;

                .warpjs-label {
                    text-align: center;
                    font-size: 24px;
                    font-weight: normal;
                    padding-top: 36px;
                    padding-bottom: 18px;
                }

                .warpjs-title {
                    text-align: center;
                    font-size: 36px;
                    line-height: 140%;
                    padding-top: 12px;
                    padding-bottom: 28px;
                }
            }
        }
    }
}



.warpjs-panel {
    margin-bottom: 20px;

    .warpjs-panel-style {
        &-Solid {
            background-color: #ddd;

            > .panel-heading {
            }

            > .panel-body {
            }
        }

        &-Transparent, &- {
            background-color: transparent;
            border: none;
            box-shadow: none;

            > .panel-heading {
                background-color: transparent;
                border-color: transparent;
                background-image: none;
            }

            > .panel-body {
                background-color: transparent;
            }
        }
    }

    .panel-heading {
        .panel-title {
            font-size: 200%;
            font-weight: bold;
        }
    }

    .panel-body {
        .warpjs-panel-section {
            .warpjs-title {
                margin-top: 15px;

                &.warpjs-title-level-H1 {
                    font-size: 40px;
                    line-height: 1.4;
                    padding-bottom: 20px;
                }

                &.warpjs-title-level-H2 {
                    font-size: 36px;
                    line-height: 1.4;
                    padding-bottom: 18px;
                }

                &.warpjs-title-level-H3 {
                    font-size: 32px;
                    line-height: 1.4;
                    padding-bottom: 16px;
                }

                &.warpjs-title-level-H4 {
                    font-size: 28px;
                    line-height: 1.4;
                    padding-bottom: 14px;
                }

                &.warpjs-title-level-H5 {
                    font-size: 24px;
                    line-height: 1.4;
                    padding-bottom: 12px;
                }

                &.warpjs-title-level-H6 {
                    font-size: 20px;
                    line-height: 1.4;
                    padding-bottom: 10px;
                }
            }

            .row.overview-image-container {
                + .row {
                    padding-top: 24px;
                }
            }

        }

        .warpjs-panel-section-SeparatorPanelItem + .warpjs-panel-section-SeparatorPanelItem {
            display: none;
        }
    }
}

.warpjs-table {
    display: table;

    .warpjs-header-cell {
        font-family: @warpjs-secondary-font-family;
        font-size: 24px;
        font-weight: 300;
        height: 38px !important;
        padding-top: 20px !important;
    }

    .warpjs-cell {
        float: none;
        display: table-cell;
    }
}

.warpjs-page-view-headline {

    .warpjs-page-view-headline-section {
        .warpjs-page-view-headline-section-value {
            font-family: @warpjs-secondary-font-family;
            text-transform: uppercase;

            width: 80%;
            height: 38px;
            -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 50px, calc(100% - 50px) 0%, 0% 0%);
            clip-path: polygon(0% 100%, 100% 100%, 100% 50px, calc(100% - 50px) 0%, 0% 0%);
            font-size: 24px;
            font-weight: 300;
            line-height: 140%;
            padding-left: 18px;
            padding-top: 8px;
            margin-bottom: -1px;
        }

        .warpjs-page-view-headline-section-footer {
            height: 14px;
        }
    }

    .warpjs-page-view-headline-content {
        font-family: @warpjs-secondary-font-family;
        min-height: 60px;
        font-size: 36px;
        font-weight: 700;
        line-height: 140%;
        padding: 12px 18px 14px 18px;
        text-transform: uppercase;
    }
}

.warpjs-page-view-summary {
    margin-bottom: 24px;

    .warpjs-table {
        width: 100%;
    }

    .warpjs-section-header {
        font-family: @warpjs-secondary-font-family;
        font-size: 24px;
        font-weight: 300;
        height: 64px;
        padding-bottom: 24px;
        padding-top: 20px;

        &.warpjs-summary-results {
        }
    }

    .warpjs-section-content {
        padding-bottom: 24px;
        padding-top: 10px;

        &.warpjs-summary-results {
            background-color: #000;
            font-family: @warpjs-secondary-font-family;
            font-size: 24px;
            font-weight: 300;
            line-height: 140%;
        }
    }

    .warpjs-page-view-summary-results-title {
        padding-top: 20px;
        padding-bottom: 24px;
        height: 64px;
    }

    .warpjs-page-view-summary-results-content {
        background-color: #000;
        font-family: @warpjs-secondary-font-family;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 140%;
        padding-top: 10%;
        padding-bottom: 24px;
    }

    .warpjs-header-cell {
    }
}

.warpjs-page-view-main-body {
    padding: 5px;
    margin-bottom: 5px;

    .warpjs-page-view-main-body-panel {
        padding: 5px;
        margin-bottom: 5px;

        .warpjs-page-view-main-body-item {
            padding: 5px;
            margin-bottom: 5px;
        }
    }
}

.warpjs-title {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 5px;
}

.warpjs-image-container-parent {
    position: relative;
    width: 100%;
    padding-bottom: 0%;
    border-radius: 50%;
    overflow: hidden;

    .warpjs-image-container-child {
        position: relative;
        padding-bottom: calc(~"100%");

        img {
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}

.warpjs-page-view-side-section {
    margin-bottom: 18px;

    > .warpjs-title {
        margin-bottom: 10px;
    }
}

.warpjs-page-view-side-zone {
    padding-left: 0px;
    padding-right: 0px;

    .warpjs-page-view-side-panel {
        margin-bottom: 20px;
        margin-left: 15px;
        margin-right: 0;
        padding: 18px;

        > .col-xs-12 {
            padding-left: 0;
            padding-right: 0;
        }

        hr {
            border-color: @warpjs-primary-bg;
        }

        .warpjs-page-view-side-section {
            margin-bottom: 18px;

            .warpjs-title {
                padding-bottom: 12px !important;
                line-height: 140%;
            }
        }

        &.warpjs-page-view-sidebar {
        }

        &.warpjs-page-view-badges {
            .warpjs-page-view-side-section {
                .warpjs-content {
                    .warpjs-item {
                        .warpjs-image-container-parent {
                            max-width: 100px;
                            max-height: 100px;
                            border-radius: 0;
                            margin-left: auto;
                            margin-right: auto;

                            .warpjs-image-container-child {
                                img {
                                    width: auto;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

    }

}

.warpjs-user {
    margin-left: 0;
    margin-bottom: 10px;

    .warpjs-community-image {
        padding-left: 0;
        padding-right: 0;
        width: 65px;
        margin-bottom: 10px;

        .warpjs-image-container-parent {
            width: 50px;

            .warpjs-image-container-child {
                position: relative;
                padding-bottom: calc(~"100%");

                img {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
        }
    }

    .warpjs-user-info {
        padding: 0;
        vertical-align: middle;

        .warpjs-user-name {
        }
    }
}

.warpjs-value {
    .warpjs-body {
        .warpjs-title {
            font-size: 150%;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .warpjs-see-more {
            margin-top: 5px;
        }
    }
}

.warpjs-relationship-style-Basic_Tile {
    > div {
        padding-left: 10px;
        padding-right: 10px;
    }

    .warpjs-value-item {
        padding: 16px;
        background-color: #ececec;
        margin-bottom: 20px;

        .warpjs-container {
            .warpjs-body {
                .warpjs-title {
                    line-height: 120%;
                }
            }
        }
    }
}

.warpjs-relationship-style-Tile {
    .warpjs-value {
        > div {
            padding-left: 10px;
            padding-right: 10px;
        }

        > div:nth-child(3n+1) {
            padding-left: 0px;
        }

        > div:nth-child(3n+3) {
            padding-right: 0px;
        }

        .warpjs-value-item {
            height: 300px;
            background-color: #ececec;
            margin-bottom: 20px;
            overflow: hidden;

            .warpjs-container {
                max-height: calc(~"100% - 32px");
                overflow: hidden;
            }

            .warpjs-image {
                padding-left: 0;
                padding-right: 0;
                max-width: 100%;

                img {
                    width: 100%;
                    max-height: 100px;
                }
            }

            .warpjs-body {
                padding: 16px 16px 0 16px;

                .warpjs-label {
                }

                .warpjs-title {
                    line-height: 120%;
                    padding-bottom: 12px;
                }

                .warpjs-content {
                    line-height: 20px;
                    max-height: 140px;
                    overflow: hidden;
                }
            }

            .warpjs-see-more {
                padding-left: 16px;
                padding-right: 16px;
            }
        }
    }
}

.warpjs-relationship-style-Preview {
    .warpjs-value {
        .warpjs-value-item {
            max-height: 150px;
            margin-bottom: 10px;
            overflow: hidden;

            .warpjs-image {
                padding-left: 0;
                padding-right: 0;
                max-width: 100%;
                border-radius: 50%;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }

            .warpjs-body {
                .warpjs-content {
                    line-height: 20px;
                    max-height: 80px;
                    overflow: hidden;
                }
            }
        }
    }
}

.warpjs-page-view-specialized {
    > .warpjs-content {
        margin-top: 20px;

        > .warpjs-page-view-main-body {
            padding: 0;

            .warpjs-is-overview-panel-true {
                display: none;

                + .panel-body {
                    padding-top: 5px;
                }
            }
        }

        > .warpjs-page-view-side-zone {
            margin-top: 18px;
            padding-right: 5%;
        }
    }
}

.warpjs-page-view-main-body {
    color: #000;
    margin-bottom: 5px;
    padding: 5px;

    &:nth-child(odd) {
    }

    .warpjs-page-view-main-body-panel {
        margin-bottom: 5px;
        padding: 5px;
    }

    .warpjs-page-view-main-body-item {
        margin-bottom: 5px;
        padding: 5px;

        .warpjs-description {
        }
    }
}

.warpjs-relationship-style-CSV_Columns {
    .warpjs-value {
        .warpjs-value-item {
            padding-left: 0;
            margin-bottom: 5px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}


.warpjs-page-view-Plain {
    .warpjs-page-view-headline,
    .warpjs-page-view-summary,
    .warpjs-page-view-sidebar,
    .warpjs-page-view-badges {
        display: none;
    }

    > .row.warpjs-panel {
        &:nth-child(odd) {
            background-color: transparent;
        }

        &:nth-child(even) {
            background-color: #f9f9f9;

            hr {
                border-color: @warpjs-primary-bg;
            }
        }

        > .warpjs-content {
            padding-left: 0;
            padding-right: 0;
        }
    }



}

.warpjs-page-view-BoK {
    .warpjs-page-header-image,
    .warpjs-page-view-summary,
    .warpjs-page-view-badges {
        display: none;
    }
}

@warpjs-insight-bg: #263d45;

.warpjs-page-view-Insight {
    .warpjs-page-header-image,
    .warpjs-page-view-badges {
        display: none;
    }

    .warpjs-page-view-specialized {
        .warpjs-page-view-headline {
            .warpjs-page-view-headline-section {
                .warpjs-page-view-headline-section-value {
                    background-color: @warpjs-insight-bg;
                }

                .warpjs-page-view-headline-section-footer {
                    background-color: @warpjs-insight-bg;
                }
            }
        }

        .warpjs-page-view-summary {
            .warpjs-section-content {
                background-color: @warpjs-insight-bg;

                &.warpjs-summary-results {
                    background-color: #000;
                }
            }
        }
    }
}

.warpjs-page-view-Testbed {
    .warpjs-page-view-headline,
    .warpjs-page-view-summary {
        display: none;
    }
}

.warpjs-paragraph-callout {
    background-color: #fdf3e5;
    border: thin solid #f2cc97;
    border-radius: 5px;
    padding: 18px;
    margin-top: 18px;
    margin-left: 15px;
    margin-right: 15px;

    .warpjs-title {
        margin-top: 0 !important;
        margin-bottom: 18px;
    }

    .warpjs-paragraph-callout-subheading {
        text-transform: uppercase;
        margin-bottom: 18px;
    }

    .warpjs-paragraph-callout-button {
        margin-top: 18px;

        a {
            background-image: linear-gradient(to bottom, #dc2a0b 0%, #c4250a 100%);
            border-color: #c4250a;
            background-color:  #dc2a0b;
            font-family: @warpjs-secondary-font-family;
            text-transform: uppercase;
            box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.06);
            color: #ffffff;
        }
    }
}

.figure-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 24px;

    & .warpjs-image-background {
        &-Transparent {
            background-color: transparent;
        }

        &-Grey {
            background-color: #cccccc;
        }

        &-Blue {
            background-color: #263d45;
        }
    }
}

@import './../vocabulary/style';
@import './../table-of-contents/style';
