{{#if page._links.edit}}
  <div class="warpjs-inline-edit warpjs-inline-edit-context"
      data-warpjs-id="{{elementId}}"
      data-warpjs-type="{{elementType}}"
    >
    <span class="glyphicon glyphicon-pencil"></span>
  </div>
{{/if}}
