{{#if page._links.edit}}
  <div class="warpjs-inline-edit warpjs-inline-edit-global">
    <span class="glyphicon glyphicon-eye-open warpjs-inline-edit-enable"></span>
    <span class="glyphicon glyphicon-eye-close warpjs-inline-edit-disable"></span>
  </div>
{{/if}}
