@inline-edit-bg: #5d922a;
@inline-edit-fg: #ffffff;

[data-warpjs-modal="warpjs-inline-edit"] {
    .modal-dialog {
        width: 80%;

        .modal-content {
            min-width: 650px;
            height: 80%;

            .modal-body {
                background-color: #cccccc;

                height: 100%;
                padding-top: 0;
                padding-bottom: 0;
            }
        }

    }

    .warpjs-label {
        color: #cccccc;
        margin-top: 15px;
        margin-bottom: 10px;

        .warpjs-list-item-add {
            float: right;
        }
    }

    .warpjs-list-item-indentation {
        border-left-style: solid;
        border-left-width: thin;
        display: table-cell;
        width: 15px;

        &.warpjs-list-item-indentation- {
            &H1 {
                border-left-color: red;
            }
            &H2 {
                border-left-color: green;
            }
            &H3 {
                border-left-color: blue;
            }
            &H4 {
                border-left-color: purple;
            }
            &H5 {
                border-left-color: orange;
            }
        }
    }

    .warpjs-section {
        .warpjs-title {
            margin-top: 15px;
        }

        .warpjs-section-item {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                background-color: #4a90e2;
                color: #ffffff;
            }

            &.warpjs-section-selected-item {
                background-color: #133d80;
                color: #ffffff;
                cursor: default;
            }
        }
    }

    .warpjs-list-container {
        padding-top: 15px;
        background-color: #ffffff;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        .warpjs-document-name {
            .warpjs-label {
                [data-warpjs-action="inline-edit-history"] {
                    float: right;
                }
            }

            .warpjs-content {
            }
        }

        .warpjs-document-elements {
            .warpjs-label {
            }

            .warpjs-content {

                .warpjs-list-item {
                    border-radius: 10px;
                    display: table;
                    border-top: 5px;
                    width: 100%;

                    &.row {
                        margin-left: 0;
                        margin-right: 0;
                    }

                    &.warpjs-list-item-selected .warpjs-list-item-value {
                        background-color: #cccccc;
                    }

                    &:hover .warpjs-list-item-value {
                        background-color: #eeeeee;
                    }

                    .warpjs-list-item-value {
                        margin-top: 10px;
                        display: table-cell;
                        vertical-align: middle;
                        padding-left: 15px;
                        padding-right: 15px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        border-radius: 10px;
                        cursor: pointer;

                        &.warpjs-list-item-value-untitled {
                            font-style: italic;
                        }
                    }

                    .warpjs-list-item-status {
                        display: table-cell;
                        vertical-align: middle;
                        color: #cccccc;
                        font-size: 30px;
                        width: 15px;
                        display: none;
                    }

                    &.warpjs-list-item-level {
                        &-H1 {
                            .warpjs-list-item-indentation-H1,
                            .warpjs-list-item-indentation-H2,
                            .warpjs-list-item-indentation-H3,
                            .warpjs-list-item-indentation-H4,
                            .warpjs-list-item-indentation-H5 {
                                display: none;
                            }
                        }

                        &-H2 {
                            .warpjs-list-item-indentation-H2,
                            .warpjs-list-item-indentation-H3,
                            .warpjs-list-item-indentation-H4,
                            .warpjs-list-item-indentation-H5 {
                                display: none;
                            }
                        }

                        &-H3 {
                            .warpjs-list-item-indentation-H3,
                            .warpjs-list-item-indentation-H4,
                            .warpjs-list-item-indentation-H5 {
                                display: none;
                            }
                        }

                        &-H4 {
                            .warpjs-list-item-indentation-H4,
                            .warpjs-list-item-indentation-H5 {
                                display: none;
                            }
                        }

                        &-H5 {
                            .warpjs-list-item-indentation-H5 {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .warpjs-document-filters {
            margin-top: 15px;
            height: 150px;
            background-color: yellow;
        }

    }

    .warpjs-detail-container {
        padding-top: 5px;
        background-color: #cccccc;
        color: #000000;
        height: calc(~"100% - 25px");

        .warpjs-modal-global-menu {
            margin-bottom: 18px;
        }

        .warpjs-modal-title {
            font-family: 'Oswald', sans-serif;
            font-size: 24px !important;
            font-weight: normal;
            line-height: 35px;
            float: left;
            padding-left: 15px;
        }

        .warpjs-modal-top-menu {
            text-align: right;
            line-height: 35px;
            padding-right: 15px;

            [data-warpjs-action]:not(button) {
                background-color: white;
                border-width: 1px;
                border-style: solid;
                border-color: #5096b7;
                padding: 4px 24px 4px 24px;
                color: #5096b7;
                font-weight: bold;
                white-space: nowrap;
            }

            .dropdown-menu {
                li {
                    background-color: transparent;
                    border-width: 0;
                    padding-left: 24px;
                }
            }

            > span:not(.dropdown) {
                margin-left: 4px;
            }

            > span:not(.dropdown):not(:last-child) {
                margin-right: 4px;
            }
        }

        .warpjs-navigation-menu {
            width: calc(~"100% - 150px");
            padding-left: 15px;
            padding-right: 15px;

            .warpjs-navigation {
                text-align: center;
                background-color: #5096b7;
                margin-left: 2px;
                margin-right: 2px;
                color: white;
                font-weight: bold;
                float: left;
                line-height: 25px;
                width: 6%;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                &.warpjs-navigation-position {
                    width: calc(~"36% - 16px");
                }
            }
        }

        textarea {
            resize: none;
        }

        .warpjs-label {
            color: inherit !important;
        }

        .warpjs-detail-heading {
            float: left;
            padding-left: 15px;
            padding-right: 15px;
            width: calc(~"100% - 150px");

            .heading-level-container {
                display: block;
                width: 100%;
                position: relative;
                overflow: hidden;
                background-color: #f4f4f4;

                .heading-buttons {
                    position: relative;
                    float: left;
                    margin: 5px 5px;
                    padding: 2px;
                    outline: 0px;

                    input {
                        position: absolute;
                        clip: rect(0,0,0,0);
                        pointer-events: none;
                        margin: 0px;
                        cursor: pointer;
                        width: 20px;
                        height: 20px;

                        &:focus {
                            outline: 0px;
                        }
                    }

                    input + .heading-label {
                        color: #999;
                    }

                    input:checked + .heading-label {
                        color: #000;
                    }
                }
            }

            textarea {
                width: 100%;
                height: 55px;
                border-radius: 0px;
                border: solid 1px #fff;
            }
        }

        .warpjs-inline-edit-visibility {
            float: left;
            margin-left: 15px;

            select {
                background-color: #5096b7;
                color: white;
                font-weight: bold;
                line-height: 25px;
                font-size: 13px;
                height: 27px;
                border-radius: 0px;
            }
        }

        .warpjs-detail-image-preview {
            float: left;
            padding-left: 15px;
            padding-right: 15px;
            width: 150px;

            .image-carousel-container {
                height: 100px;
                background-color: #aaaaaa;

                .carousel {
                    height: 100px;
                    position: relative;

                    .carousel-inner {
                        height: 78px;
                    }

                    .warpjs-inline-edit-image-delete-button {
                        position: absolute;
                        right: 0px;
                        top: 0px;
                        width: 20px;
                        height: 20px;
                        display: block;
                        background: #5096b7;
                        color: #fff;
                        font-size: 16px;
                        padding: 0px 6px;
                        line-height: 16px;
                        z-index: 100;
                        text-decoration: none;
                    }
                }

                .carousel-item {
                    width: 120px;
                    height: 100px;

                    .inline-editor-image {
                        width: 120px;
                        height: 100px;
                        background-position: center center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }

                    &.upload-image {
                        padding-top: 45px;
                        text-align: center;

                        .btn {
                            background-color: white;
                            border: 1px solid #5096b7;
                            padding: 4px 24px;
                            color: #5096b7;
                            font-weight: bold;
                            white-space: nowrap;
                            font-size: 9px;
                        }

                        .warpjs-inline-edit-image-upload {
                            display: none;
                        }
                    }
                }

                .carousel-controls {
                    background-color: #5096b7;
                    height: 22px;
                    position: absolute;
                    width: 120px;

                    .carousel-control {
                        opacity: 1;
                        text-shadow: none;
                        color: #ffffff;
                        background-image: none;
                        font-size: 15px;
                        line-height: 22px;
                    }

                    .warpjs-inline-edit-image-upload-button {
                        color: #fff;
                        display: block;
                        margin-left: 40px;
                        text-decoration: none;
                    }
                }
            }
        }

        .warpjs-detail-content {
            textarea {
                width: 100%;
            }
        }

        //
        //  Associations
        //

        .warpjs-section-type-selector {
            .form-group {
                &.has-error {
                    select {
                        color: #a94442;
                    }
                }

                &.has-warning {
                    select {
                        color: #8a6d3b;
                    }
                }
            }
        }

        .warpjs-section-type-documents {
            height: 25%;
            overflow-y: auto;

            .warpjs-section-item {
            }
        }

        .warpjs-section-selected-documents {
            height: 25%;
            overflow-y: auto;

            .warpjs-section-item {
                white-space: nowrap;
                max-width: 100%;
                text-overflow: ellipsis;
                margin-right: 20px;
                display: block;
                float: left;
                overflow-x: hidden;
            }
        }

        .warpjs-section-selected-document-detail {
            height: 25%;
            overflow-y: auto;
        }

        .history-container {
            overflow-y: scroll;
            height: calc(100% - 70px);
        }

    }
}

[data-warpjs-modal="warpjs-inline-edit"] [data-warpjs-modal="file-upload"] .modal-dialog  .modal-content .modal-body {
    height: auto;
    background-color: #ffffff;
}

.warpjs-inline-edit-global {
    position: absolute;
    right: -50px;
}

.warpjs-inline-edit-context {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    background-color: @inline-edit-bg;
    color: @inline-edit-fg;
    font-size: 18px;
    padding: 8px !important;
    border-radius: 50%;
    cursor: pointer;
}

.warpjs-inline-edit-disable, .warpjs-inline-edit-content {
    display: none;
}

.warpjs-inline-edit-disable {
    background-color: #f2001d !important;
}

.warpjs-visibleInEditOnly-true {
    display: none;
}

.warpjs-show-item-false {
    display: none;
}

.warpjs-hide-spi {
    display: none;
}

.warpjs-inline-edit-global-in-edit {
    .warpjs-inline-edit-enable {
        display: none;
    }

    .warpjs-inline-edit-disable, .warpjs-inline-edit-content {
        display: inline;
    }

    .warpjs-inline-edit-context {
        display: block;
    }

    .warpjs-visibleInEditOnly-true {
        display: block;
    }

    .warpjs-show-item-false {
        display: block;
    }

    .warpjs-hide-spi {
        display: block;
    }

    .warpjs-section-content {
        .warpjs-inline-edit-context {
            position: absolute;
            top: 8px;
        }
    }

    .warpjs-page-view-side-section, .warpjs-panel-section {
        position: relative;
        border: thin dotted #5d922a;
        border-radius: 8px;
        padding: 8px;
        margin-top: 8px;
        min-height: 50px;

        &.warpjs-panel-section-SeparatorPanelItem {
            border: none;
        }

        .warpjs-inline-edit-context {
            position: absolute;
            top: 8px;
        }
    }
}

@import './change-logs/style';
@import './association-modal/style.less';
