<div class="row">
  <div class="col-xs-4 warpjs-modal-title">I3C INLINE EDITOR</div>
  <div class="col-xs-8 warpjs-modal-top-menu">
    <span class="warpjs-modal-language">English</span>
    <span class="warpjs-modal-delete">Delete</span>
    <span class="warpjs-modal-history">History</span>
    <button type="button" class="close" data-dismiss="modal" arial-label="Close" aria-hidden="true">&times;</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 warpjs-navigation-menu">
    <span>&lt;&lt;</span>
    <span>&lt;</span>
    <span>Position 1</span>
    <span>&gt;</span>
    <span>&gt;&gt;</span>

    <span>Visible on Web</span>
  </div>
</div>

<div class="row">
  <div class="col-xs-8 warpjs-detail-heading">
    <div class="form-group">
      <label for="warpjs-inline-edit-heading">Heading</label>
      <textarea class="form-control" rows="3" id="warpjs-inline-edit-heading">{{item.name}}</textarea>
    </div>
  </div>

  <div class="col-xs-4 warpjs-detail-image-preview">
    <div class="warpjs-label">Image preview</div>
    <div class="warpjs-content">BOX</div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 warpjs-detail-content">
    <div class="form-group">
      <label for="warpjs-inline-edit-content">Content</label>
      <textarea class="form-control" id="warpjs-inline-edit-content" rows="12">{{item.description}}</textarea>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 warpjs-comments">
    <div class="warpjs-label">Comments</div>
  </div>
</div>
