<div class="modal fade" role="dialog" tabindex="-1" aria-hidden="true"
  data-warpjs-modal="{{MODAL_NAME}}"
  >

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4 warpjs-list-container">
            <div class="row warpjs-document-name">
              <div class="col-xs-12 warpjs-label">Document Name</div>
              <div class="col-xs-12 warpjs-content">
              </div>
            </div>

            <div class="row warpjs-document-elements">
              <div class="col-xs-12 warpjs-label">Document elements</div>
              <div class="col-xs-12 warpjs-content">
              </div>
            </div>

            <div class="row warpjs-document-filters">
              TODO: PUT FILTER HERE.
            </div>
          </div>

          <div class="col-sm-8 warpjs-detail-container">
            <div class="row">
              <div class="col-xs-4 warpjs-modal-title">I3C INLINE EDITOR</div>
              <div class="col-xs-8 warpjs-modal-top-menu">
                <span class="warpjs-modal-language">English</span>
                <span class="warpjs-modal-delete">Delete</span>
                <span class="warpjs-modal-history">History</span>
                <button type="button" class="close" data-dismiss="modal" arial-label="Close" aria-hidden="true">&times;</button>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <span>&lt;&lt;</span>
                <span>&lt;</span>
                <span>Position 1</span>
                <span>&gt;</span>
                <span>&gt;&gt;</span>

                <span>Visible on Web</span>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-8">
                <div>Heading</div>
                <div><textarea></textarea></div>
              </div>

              <div class="col-xs-4">
                <div>Image preview</div>
                <div>BOX</div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div>Content</div>
                <div><textarea></textarea></div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div>Comments</div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
