<div class="container-fluid">
    {{> ../../common/templates/_header}}
</div>

<div class="container-fluid">
	{{> ./partials/_pageview panels=this._embedded.panels}}
</div>

<div class="container-fluid">
    {{> ../../common/templates/_footer}}
</div>
