{{#partial "content"}}
    <div class="breadcrumb-container breadcrumb row no-padding">
        <div class="col-xs-1" />
        <div class="col-xs-10 no-padding">
            {{> ./partials/_breadcrumb breadcrumbs=this._embedded.breadcrumbs}}
        </div>
        <div class="col-xs-1" />
    </div>
    <div class="pageview-container row no-padding">
        <div class="col-xs-1" />
        <div class="col-xs-10 no-padding">
            {{> ./partials/_pageview panels=this._embedded.panels}}
        </div>
        <div class="col-xs-1" />
    </div>
{{/partial}}

{{> ../../common/templates/_page}}
