<div class="modal fade {{SELECTION_MODAL_CLASS}}"
    role="dialog"
    tabindex="-1"
    aria-hidden="true"
    aria-labelledby="Link-Selector"
    >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
            aria-label="Close" aria-hidden="true"
            >&times;</button>
        <div class="modal-title">Link Editor</div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <form class="form-inline">
              <ul class="list-group">

                <li class="list-group-item">
                  <div class="form-group">
                    Select type:
                    <select class="form-control warpjs-selection-types">
                      <option value="">---Select Entity---</option>
                      {{#each entities}}
                        <option value="{{type}}" data-warpjs-url="{{_links.instances.href}}">{{type}}</a>
                      {{/each}}
                    </select>
                  </div>
                </li>

                <li class="list-group-item" >
                  <div class="form-group">
                    Entities:
                    <ul class="list-group warpjs-selection-entities">Select an entity type</ul>
                  </div>
                </li>

                <li class="list-group-item">
                  <div class="form-group">
                    Selection List:
                    <ul class="list-group warpjs-selected-entities">
                    </ul>
                  </div>
                </li>

              </ul>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary warpjs-selection-save">Add Links</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
