{{#if items}}
  <div class="community-authors row">
  {{#if multi}}
    {{#each items as |item|}}
      <div class="col-md-6">
        {{> authors-item item}}
      </div>
    {{/each}}
  {{else}}
    {{> authors-single item=items.[0]}}
  {{/if}}
  </div>
{{/if}}
