<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">Author</div>
  </div>
  <div class="panel-body">
    {{> item-profile this imageSize=4 dataSize=6}}
  </div>
</div>
