<div class="col-xs-{{size}} community-details">
  <div class="name">David Smith</div>
  <div class="company">Micro Technologies</div>

  <div class="work-groups">
    <span class="label">Work Groups:</span>
    <span class="value">WG1, WG2, etc...</span>
  </div>

  <div class="task-groups">
    <span class="label">Task Groups:</span>
    <span class="value">TG1, TG2, etc...</span>
  </div>

  <div class="view-profile">
    <a href="">View Profile</a>
  </div>
</div>
