<div class="row community-profile">
  <div class="col-xs-1 community-spacer">&nbsp;</div>
    <div class="col-xs-{{imageSize}}">
      {{> item-image this}}
    </div>
    <div class="col-xs-{{dataSize}}">
      {{> item-data this}}
    </div>
  <div class="col-xs-1 community-spacer">&nbsp;</div>
</div>
