<div class="community-details">
  <div class="name">{{Name}}</div>

  {{#if _embedded.workingFors.length}}
    <div class="company">
      {{#each _embedded.workingFors as |workingFor|}}
          <a href="{{workingFor._links.self.href}}">{{workingFor.CompanyName}}</a>{{#unless @last}},{{/unless}}
      {{/each}}
    </div>
  {{/if}}

  <div class="separator"></div>

  {{> item-group groups=_embedded.workgroups className='work-groups' groupLabel="Work Groups"}}
  {{> item-group groups=_embedded.taskgroups className='task-groups' groupLabel="Task Groups"}}

  <div class="separator"></div>

  <div class="view-profile">
      <a href="{{_links.self.href}}">View Profile</a>
  </div>
</div>
