<div class="community-image">
  <div class="image-container-parent">
    <div class="image-container-child">
      <img
         src="http://archives.frederatorblogs.com/random/files/2008/04/b-corrupted-by-random-noise-bit-error-rate0020.gif"
         />
    </div>
  </div>
</div>
