<div class="row">
  <div class="col-xs-1 community-spacer">&nbsp;</div>
  {{> item-image this size=imageSize}}
  {{> item-data this size=dataSize}}
  <div class="col-xs-1 community-spacer">&nbsp;</div>
</div>
