<div class="modal fade" data-warpjs-modal="{{identifier}}" tabindex="-1" role="dialog" aria-labelledby="statusLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      {{>modal-header title="i3c Content Status and Approval Levels"}}

      <div class="modal-body">
        {{>modal-body}}
      </div>

    </div>
  </div>
</div>
