.warpjs-panel-items-vocabulary {
    .warpjs-vocabulary-letters {
        text-align: center;
        padding: 20px;
        line-height: 2.8em;

        .warpjs-vocabulary-letter {
            color: #ffffff;
            background-color: #868686;
            padding: 5px 10px;
            margin-right: 5px;
            cursor: pointer;
            display: inline-block;
            width: 30px;
            margin-bottom: 5px;

            &.warpjs-vocabulary-letter-selected {
                background-color: #a32d27;
            }
        }
    }

    .warpjs-vocabulary-definitions {

        .warpjs-vocabulary-definition {
            display: table;
            width: 100%;
            display: none;

            .warpjs-vocabulary-definition-letter {
                text-align: center;
                font-size: 36px;
                line-height: 40px;
                margin-bottom: 12px;
            }

            .warpjs-vocabulary-definition-item {
                display: table-cell;
                vertical-align: top;
                margin-bottom: 18px;
                padding-left: 10px;
                padding-right: 10px;

                &:nth-child(3n+1) {
                    padding-left: 15px;
                    padding-right: 5px;
                    clear: left;
                }

                &:nth-child(3n+3) {
                    padding-left: 5px;
                    padding-right: 15px;
                }

                .warpjs-content {
                    background-color: @warpjs-secondary-bg;
                    padding: 12px;
                    height: 300px;
                    overflow: hidden;

                    .warpjs-title {
                        font-size: 20px;
                        margin-bottom: 10px;
                        line-height: 1.4em;
                        overflow: hidden;
                    }

                    .warpjs-definition {
                        overflow: hidden;
                        margin-bottom: 7px;
                    }

                    .warpjs-resource {
                        overflow: hidden;
                    }
                }
            }
        }
    }
}
