{{#each items as |item|}}
  <div class="col-xs-4 warpjs-value-item">
    {{#if item.label}}
      <a href="{{item._links.self.href}}" title="{{item.label}}">{{item.label}}</a>
    {{else}}
      &nbsp;
    {{/if}}
  </div>
{{/each}}
