<div id="WarpJS_mainPV_panel" class="panel panel-success">
  <div class="panel-heading">
    {{type}}: {{displayName}}

    <span data-warpjs-placeholder="document-status"
      class="warpjs-document-status warpjs-document-status-{{status}}"
      >{{status}}</span>

    <span class="pull-right warpjs-actions" id="warpjs-actions-placeholder"></span>
  </div>

  <div class="panel-body">
      {{> panel-body _embedded.formResources.[0] canEdit=canEdit}}
  </div>
</div>
