<div data-tabindex="{{tabindex}}" {{#if tab}}class="tab-pane fade in {{#unless tabindex}}active{{/unless}}"{{/if}}>
  {{> panel-actions actions=_embedded.actions canEdit=canEdit}}
  {{#each _embedded.items as |panelItem panelItemIndex|}}
    {{> panel-item panelItem canEdit=../canEdit}}
  {{/each}}
</div>
