.warpjs-association-modal-list-item-items {
    background-color: inherit;
    flex: 2;
    overflow-y: auto;

    .list-group.warpjs-associations-list {
        margin-bottom: 0px;

        .list-group-item {
            .warpjs-actions {
                font-size: 18px;
                position: absolute;
                right: 15px;
                top: 20px;
            }

            .warpjs-header {
                font-size: 18px;
                margin-bottom: 9px;
                max-width: calc(~"100% - 100px");
            }

            .warpjs-auto-save-field {
                max-width: calc(~"100% - 100px");

                .form-control {
                    font-size: 13px;
                    border: none;
                    background-color: #f5f5f5;
                }

            }

            &:first-child {
                .warpjs-actions {
                    [data-warpjs-action="move-up"] {
                        color: #cccccc;
                        pointer-events: none;
                    }
                }
            }

            &:last-child {
                .warpjs-actions {
                    [data-warpjs-action="move-down"] {
                        color: #cccccc;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}
