.warpjs-page-view-with-aggregation-filters {
    > .warpjs-content {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.warpjs-aggregation-filters-hide {
    display: none;
}

#warpjs-aggregation-filters-panel {
    margin-top: 20px;

    > .panel {
        box-shadow: none;
        border: none;
        border-radius: unset;

        > .panel-body {
            padding: 0px;
        }
    }
}

#warpjs-aggregation-filters-input {
    padding-right: 0px;

    .input-group {
        padding: 4px;
        border: thin solid #4395b8;
        border-radius: 50px;

        .input-group-addon {
            background-color: transparent;
            border: none;
            padding: unset;

            .btn {
                border-radius: 50px;
            }

            + input.form-control {
                margin-left: 4px;
            }
        }

        input.form-control {
            border: none;
            border-radius: 50px;

            + .input-group-addon button {
                margin-left: 6px;
            }
        }
    }
}

.warpjs-aggregation-filters-entity {
    background-color: #ececec;
    border: none;
    border-radius: unset;
    box-shadow: none;
    padding-top: 8px;

    > .panel-heading {
        background-color: transparent;
        background-image: none;
        border: none;
        border-radius: unset;
        font-size: 120%;
        font-weight: bold;
        padding-top: 2px; /* 10px - 8px from panel */
    }

    > .panel-body {
        padding-top: 0px;

        .warpjs-aggregation-filters-selection {
            margin-bottom: 8px;

            .warpjs-aggregation-filters-sub-selections {
                margin-top: 8px;
                margin-left: 24px;

                .warpjs-rounded-checkbox {
                    margin-bottom: 8px;
                }
            }
        }

        .warpjs-aggregation-filters-button {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

}

.warpjs-aggregation-filters-empty-results {
    background-color: #ececec;
    border-radius: 12px;
    margin: 50px;
    padding: 20px;
    text-align: center;

    .warpjs-title {
        margin-bottom: 20px;
    }
}
