<button type="button" class="btn btn-danger"
  data-warpjs-action="confirm-delete"
  >Confirm</button>

<button type="button" class="btn btn-default"
  data-warpjs-action="cancel-delete"
  >Cancel</button>
