<div class="warpjs-label">Select file to upload</div>
<form class="form" data-warpjs-url="{{url}}" encType="multipart/form-data">
  <div class="form-group">
    <input type="file" name="file" class="form-control" />
  </div>
</form>
