<div class="modal fade"
    data-warpjs-modal="{{MODAL_NAME}}"
    role="dialog"
    tabindex="-1"
    aria-hidden="true"
    aria-labelledby="Content-Editor"
    >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      {{>modal-header title="Content Editor"}}

      <div class="modal-body">
        <textarea class="{{CONTENT_CLASS}}"></textarea>
      </div>
      <div class="modal-footer">
        {{#if canEdit}}
          <button type="button" class="btn btn-primary" data-warpjs-action="save">Save changes</button>
        {{/if}}
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
