{{#partial "content"}}
  <div class="container" role="main">
    <div class="row">
      <div class="col-xs-12">
          Information for <span class="domain-name">{{domain}}</span>:

          TODO...
      </div>
    </div>
  </div>
{{/partial}}

{{> ../templates/page}}

