<div class="csv-container">
    <li class="csv-list-item">
        <span class="list-item-label" title="{{basicProperty.desc}}">{{basicProperty.label}}:</span>&nbsp;
        <span class="csv-list-item-span">{{basicProperty.value}}</span>
    </li>
</div>
