<ol class="breadcrumb" id="breadcrumb">
	{{#each breadcrumbs}}
        <li class="breadcrumb-item"><a href="{{this._links.self.href}}" data-toggle='tooltip' title="{{this.type}}">{{this.type}}</a></li>
    {{/each}}
</ol>
