{{#if (isCsvRelationship)}}
    <div class="csv-container">
        <li class="csv-list-item">
            {{entity.label}}:&nbsp;
            {{#each entity._embedded.relationships}}
                {{#each this._embedded.references}}
                    {{> ./_csv this}}
                {{/each}}
            {{/each}}
        </li>
    </div>
{{/if}}

{{#if (isPreviewRelationship)}}
    {{#each entity._embedded.relationships}}
        {{#each this._embedded.references}}
            <div class="preview-container">
                {{#if this._embedded}}
                    {{#each this._embedded.overviews}}
                        {{> ./_preview this}}
                    {{/each}}
                {{else}}
                    {{> ./_preview this Heading=this.name Content=this.desc}}
                {{/if}}
            </div>
        {{/each}}
    {{/each}}
{{/if}}
