<div class="row">
    <div class="col-xs-12">
        <p class="map-area-preview-heading">{{title}}</p>
    </div>
</div>
<div class="overview-image-container row">
    <div class="col-xs-12 {{#unless content}}text-center{{/unless}}">
        {{#if content}}
            <p class="map-area-preview-content">{{#if containsHTML}}{{{content}}}{{else}}{{content}}{{/if}}</p>
        {{/if}}
    </div>
</div>
