{{#if changeLogs.length}}
  <ul class="list-group">
    {{#each changeLogs as |changeLog|}}
      <li class="list-group-item">
        {{> item changeLog}}
      </li>
    {{/each}}
  </ul>
{{else}}
    No changes.
{{/if}}
