<div class="modal fade" role="dialog" tabindex="-1"
    data-warpjs-modal="change-logs"
    aria-hidden="true"
    aria-labelledby="Change-Logs"
    >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      {{>modal-header title="Change Logs"}}

      <div class="modal-body">
        {{>modal-body changeLogs=changeLogs}}
      </div>

      <div class="modal-footer">
        &nbsp;
      </div>

    </div>
  </div>
</div>
