<div class="warpjs-individual-contribution-header">
  <div class="row warpjs-individual-contribution-top">
    {{> left-right-margin}}

    <div class="col-xs-12 col-sm-10">
      <div class="warpjs-individual-contribution-disclaimer pull-right">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        Please read the Legal disclaimer
      </div>

      <div class="warpjs-individual-contribution-label">
        Individual Contribution
      </div>
    </div>

    {{> left-right-margin}}
  </div>

  <div class="row warpjs-individual-contribution-community">
    {{> left-right-margin}}

    <div class="col-xs-12 col-sm-10">
      <div class="container-fluid"><div class="row"><div class="col-xs-12">
      <div class="warpjs-individual-contribution-images">
      </div>
      <div class="warpjs-individual-contribution-names">
        <span class="warpjs-individual-contribution-list">
          Dirk Slama, John Dow, Max Scheider, and Jennifer Doe
        </span>
        <span class="warpjs-individual-contribution-and-more">
          and 12 more
        </span>
        <span class="warpjs-individual-contribution-see-all">
          <a href="#community">see all</a>
        </span>
      </div>
          </div></div></div>
    </div>

    {{> left-right-margin}}
  </div>

  <div class="row">
    {{> left-right-margin}}

    <div class="col-xs-12 col-sm-10">
      <div class="container-fluid warpjs-individual-contribution-title">
        <div class="row">
          <div class="col-xs-12">
            {{page.name}}
          </div>
        </div>
      </div>
    </div>

    {{> left-right-margin}}
  </div>

</div>
